.HeroHome {
  position: relative;
  overflow: hidden;
  max-height: 640px;
}

.HeroHome__image {
  width: 100%;
}

.HeroHome__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroHome__content a {
  width: min-content;
}

.HeroHome__quote {
  color: #CCC;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HerHome__quote-message {
  font-size: 2rem;
}

.search__title {
  text-align: center;
  color: #FF2;
}

@media screen and (max-width: 800px) {
  .HerHome__quote-message {
    font-size: 1.5rem;
  }
  .HerHome__quote-author {
    font-size: .7rem;
  }
}

@media screen and (max-width: 500px) {
  .HerHome__quote-message {
    font-size: 1rem;
  }
  .HerHome__quote-author {
    font-size: .5rem;
  }
}