.about__container{
    display: inline-flex;
}
.About{
    background: rgba(0, 0, 0, 0.5);
    height: min-content;
    width: fit-content;
    border: 5px solid;
    border-color: #161b18;
    border-radius: 10px;
    margin: 20px auto;
}

.About__header{
    margin-top: 10px;
}

.About__avatar{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.titles{
    color: antiquewhite;
    text-align: center;
    margin: 5px;
}

.description{
    width: 180px;
    color: antiquewhite;
    text-align: justify;
    margin: 10px 25px;
}

.About__social{
    width: 23px;
    margin: 10px;
    margin-left: 35px;
    filter: invert(100%);
}
