.container__card {
  background-color: #2b2800;
  margin-top: 10px;
  margin-bottom: 40px;
}

.img__cont {
  margin: auto;
}

.card__img {
  display: flex;
  margin: 30px auto;
  margin-bottom: 20px;
  width: 260px;
  border-radius: 20px;
}

.favorite-icon {
  color: yellow;
  margin: 20px auto;
  display: block;
  transition: transform .2s;
}

.favorite-icon:hover {
  transform: scale(1.5);
}

.body__cont {
  margin: 30px auto;
}

.boxes_container {
  margin: 15px auto;
}

.topic__container {
  width: auto;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 15px;
}

.card__text {
  color: #ffffff;
  text-align: center;
}

.text__content {
  margin-left: -35px;
  list-style: none;
}

.logo__container {
  margin: auto -40px;
  margin-left: -30px;
  text-align: center;
}
