body{
    background-color: #292d00;
    color: #ffffff;
}

.detail{
    border: none;
    background-color: #292d00;
    margin: 10px 20px;
}

.card-title{
    text-align: center;
}

.card-subtitle{
    text-align: center;
    margin-bottom: 30px;
}

.card-img{
    display: block;
    margin: 40px auto;
    width: 260px;
    border-radius: 20px;
}

.logo{
    display: block;
    margin: 35px 10px;
    filter: invert(100%);
    width: 32px;
}

.topics{
    margin: 10px 30px;
    display: inline-block;
    width: 350px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.body__topics{
    width: min-content;
    margin: 0px 20px;
}

.row__topic{
    width: min-content;
    margin: auto;
}

@media screen and (min-width:480px){
    .topics{
        margin: auto 40px;
    }
    .logo{
        margin: 20px auto;
        margin-bottom: 0px;
    }
    .body__topics{
        margin-top: -5px;
        text-align: center;
    }
}

@media screen and (min-width:683px){
    .topics{
        margin: auto 120px;
    }
    .logo{
        margin: 20px auto;
        margin-bottom: 0px;
    }
    .body__topics{
        margin-top: -5px;
        text-align: center;
    }
}

@media screen and (min-width:768px){
    .topics{
        margin: auto 60px;
    }
    .logo{
        margin: 30px auto;
        margin-bottom: 5px;
    }
}

@media screen and (min-width:1020px){
    .topics{
        margin: 10px 30px;
    }
    .logo{
        margin: 30px 10px;
        margin-right: 20px;
    }
}
