.footer{
    background-color: #1a1d12 !important;
}

.img_logo{
    width: 150px;
}

.form{
    margin-top: 26px;
}

.footer__h6{
    font-weight: 400;
    color: antiquewhite;
}

.img_social{
    filter: invert(100%);
}

.list__links{
    list-style: none;
    margin-top: 50px;
}

.links_name{
    color: #ffffff !important;
}

.button_subscribe{
    background-color: #042c19;
    border-color: #041307;
}

.button_subscribe:hover{
    background-color: #bf7504;
    border-color: #724304;
}

.quote{
    text-align: justify;
    color: antiquewhite;
    font-style: italic;
    font-weight: 300;
}

.copyright{
    text-align: center;
    color: antiquewhite;
}

@media screen and (min-width:500px){
    .img_logo{
        margin-top: 20px;
        margin-left: 140px;
        margin-bottom: -30px;
    }
    .links_name{
        padding-top: 15px;
        margin-top: 0px;
        text-align: center;
    }
    .footer__h6{
        text-align: center;
        margin-left: 15px;
    }
    .button_subscribe{
        margin: 10px 166px;
    }
    .img_social{
        margin: 10px 32px;
    }
    .quote{
        margin: 15px;
    }

}

@media screen and (min-width:680px){
    .img_logo{
        margin-top: 30px;
        margin-left: 0px;
    }
    .list__links{
        margin-top: 25px;
        margin-left: 0px;
    }
    .links_name{
        padding-top: 10px;
    }
    .content__form{
        margin-left: 85px;
    }
    .button_subscribe{
        margin: 0px;
    }
    .img_social{
        margin-left: 40px;
    }
}

@media screen and (min-width:767px){
    .img_logo{
        margin-top: 30px;
        margin-left: 0px;
    }
    .list__links{
        margin-top: 30px;
    }
    .links_name{
        padding: 0px;
        margin: 0px;
    }
    .footer__h6{
        text-align: center;
    }
    .content__form{
        margin-left: 90px;
    }
    .button_subscribe{
        margin: 0px;
    }
    .img_social{
        margin: 15px 37px;
    }
}

@media screen and (min-width:990px){
    .list__links{
        padding: 10px;
    }
    .button_subscribe{
        margin-top: 10px;
    }
    .img_social{
        margin-left: auto;
    }
}

@media screen and (min-width:1024px){
    .img_logo{
        margin-left: 60px;
        margin-top: 30px;
    }
    .list__links{
        margin-top: 20px;
        margin-left: -40px;
    }
    .links_name{
        padding-top: 15px;
        margin: auto;
    }
    .footer__h6{
        text-align: left;
        margin-bottom: 10px;
    }
    .content__form{
        margin: 10px;
    }
    .button_subscribe{
        margin: 10px 0px;
    }
    .img_social{
        margin: 0px 13px;
    }
    .quote{
        margin: 15px;
    }
}
